# Dependencies
node_modules/

# Local env files

# Testing
coverage/

# Build Outputs
build/
app/components/icons/

# Debug
npm-debug.log*

# Cloudflare
.wrangler/
worker-configuration.d.ts
.dev.vars

# App
.react-router/

# scripts

scripts/**/temp/
scripts/seed/output/

# Misc
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
