@import 'tailwindcss';
@import 'tw-animate-css';
@import '@radix-ui/colors/sand.css';

@theme {
  --font-sans: sans-serif;
  --font-mono: monospace;
  --color-transparent: transparent;
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-ease: ease;
}

@theme inline {
  --color-brand-1: var(--sand-1);
  --color-brand-2: var(--sand-2);
  --color-brand-3: var(--sand-3);
  --color-brand-4: var(--sand-4);
  --color-brand-5: var(--sand-5);
  --color-brand-6: var(--sand-6);
  --color-brand-7: var(--sand-7);
  --color-brand-8: var(--sand-8);
  --color-brand-9: var(--sand-9);
  --color-brand-10: var(--sand-10);
  --color-brand-11: var(--sand-11);
  --color-brand-12: var(--sand-12);

  --color-link-base: var(--color-blue-700);
}

:root {
  --space-xl: calc(var(--space-lg) * 1.6);
  --space-lg: calc(var(--space-base) * 1.6);
  --space-base: 1rem;
  --space-sm: calc(var(--space-base) / 1.6);
  --space-xs: calc(var(--space-sm) / 1.6);
  @media (width >= 48rem /* 768px */) {
    --space-base: 1.5rem;
  }
}

@layer components {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-brand-6;
  }

  html {
    @apply bg-brand-1 text-brand-12 text-base antialiased;
  }

  body,
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  :where(
    *[tabindex='0'],
    a,
    input:not([disabled]),
    select:not([disabled]),
    textarea:not([disabled]),
    button:not([disabled])
  ) {
    @apply focus-visible:outline-brand-12 focus-visible:ring-brand-1 focus-visible:ring focus-visible:outline-2 focus-visible:outline-offset-0;
  }

  .reset-outline {
    @apply focus-visible:ring-0 focus-visible:outline-none;
  }

  .card-container {
    contain: content;
  }
}
